{% extends "template.html "%}
{% block conteudo %}
    <h2 align="center" style="margin-top: 30px;"> Informacoes da Venda</h2>
    <div align="center" style="margin: 40px;">
        <div class="card" style="width: 35rem;">
            <div class="card-body">
                <h6 class="card-title" align="center" > Venda Concluida: {{ venda.idVenda }} </h6>
                
                {% if venda.fkCliente != None %}
                    <p>Nome: {{ cliente[1] }} | CPF: {{ cliente[2] }}</p>
                {% endif %}

                <p>Valor total: R$ {{ venda.total }} | Tipo de Pagamento: {{ venda.tipoPagamento }}</p>
                <p>Data : {{ venda.data_venda }}</p>
            </div>
        </div>
    </div>
    <h2 align="center" style="margin-top: 30px;"> Ingressos Comprados</h2>
        
    <div align = "center">
        <div class="row g-1" style="width: 40rem; margin: 20px;">
            {% for ingresso in venda_ingressos%}
                <div class="col-md">
                    <div class="card" style="width: 35rem;">
                        <div class="card-body">
                            <h6 class="card-title">{{ ingresso.idIngresso }} | {{ ingresso.nome }}</h6>
                            <p>Sala: {{ ingresso.numero_da_sala }}</p>
                            <p>Dia: {{ ingresso.dia }} | Horario: {{ ingresso.horario }}</p>
                            <p>Categoria: {{ ingresso.fkCategoria }} | Preco: {{ ingresso.preco }}</p>
                            <p>Experiencia: {{ ingresso.experiencia }} | Formato: {{ ingresso.formato }} | Idioma: {{ ingresso.idioma }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <h2 align="center" style="margin-top: 30px;"> Produtos Comprados</h2>
    
    <div align = "center">
        <div class="row g-1" style="width: 40rem; margin: 20px;">
            {% for produto in venda_produtos %}
                <div class="col-md">
                    <div class="card" style="width: 35rem;">
                        <div class="card-body">
                            <h6 class="card-title">{{ produto.idProduto }} | {{ produto.nome }}</h6>
                            <p>Quantidade: {{ produto.quantidadevendida }} | Preco: {{ produto.valortotal }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div align="center">
        <a style="margin-right: 10px;" href="{{ url_for('index') }}" class="btn btn-outline-primary">Voltar</a>
    </div>
{% endblock %}
