{% extends "template.html" %}
{% block pesquisa %}
    <div class="container-fluid">
        <form method="POST" action="{{ url_for('search')}}" class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="search", name="searched">
            <button class="btn btn-outline-secondary" type="submit">Pesquisar</button>
        </form>
    </div>
{% endblock%}

{% block conteudo %}
    <div class="row row-cols-1 row-cols-md-5 g-4" style="margin: 20px;">
        {% for filme in filmes %}
        <div class="col">
            <div class="card" style="width: 14rem;">
                <img src="{{ filme.img }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h6 class="card-title" align = "center">{{ filme.nome }} | {{ filme.anoProducao }}</h6>
                    <div class="d-grid gap-2 d-md-block" align = "center" style="padding: 2px;">
                        <a href="{{ url_for('sessoes', idFilme=filme.idFilme) }}" class="btn btn-outline-primary btn-sm">Ver sessoes</a>
                        <a href="{{ url_for('infofilme', idFilme=filme.idFilme) }}" class="btn btn-outline-success btn-sm">Info</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
