{% extends "template.html "%}
{% block conteudo %}
    <h2 align="center" >{{ filme.nome }} | {{ filme.anoProducao }}</h2>
    <div class="row row-cols-1 row-cols-md-4 g-4" style="margin: 20px;">
        {% for sessao in sessao_filme %}
        <div class="col">
            <div class="card" style="width: 18rem; padding: 10px;">
                <div class="card-body">
                    <h5 align="center" class="card-title" style="margin-bottom: 10px;">{{ sessao.dia }} | {{ sessao.horario }}</h5>
                    <div align="center">
                        <p>Preco: R$ {{ sessao.preco }}</p>
                        <p>Idioma: {{ sessao.idioma }}</p>
                        <p>Formato: {{ sessao.formato }}</p>
                        <p>Experiencia: {{ sessao.experiencia }}</p>
                        <a href="{{ url_for('comprarIngresso', idFilme=filme.idFilme, idSessao=sessao.idSessao) }}"  class="btn btn-outline-primary btn-sm"> Comprar Ingresso</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div align="center">
        <a style="margin: 10px;" href="{{ url_for('index') }}" class="btn btn-outline-primary">Voltar</a>
    </div>
{% endblock %}
